Source: play-1.1-secure-permissions-module-1.2
Section: unknown
Priority: extra
Maintainer: Stephane Epardaud <stephane@lunatech.com>
Build-Depends: debhelper (>= 7), play-1.1
Standards-Version: 3.8.3

Package: play-1.1-secure-permissions-module-1.2
Architecture: all
Depends: ${misc:Depends}
Description: Secure module with drools
 Secure module with drools
